<p-card>
  <form class="container ui-fluid" [formGroup]="artworkForm">
    <label>CREATE NEW ARTWORK SHEET</label>
    <hr>
    <div class="ui-g form-group ">
      <div class="ui-md-6 ui-g-12 ">
        <label for="reference_num">Reference No</label>
        <input type="text" id="reference_num" class="form-control"
               pInputText placeholder="Enter Reference"
               name="reference_num" formControlName="reference_num">
      </div>

      <div class=" ui-md-6 ui-g-12">
        <label for="client_name">Client Name</label>
        <input type="text" id="client_name"
               class="form-control"
               pInputText placeholder="Enter Client Name"
               name="client_name" formControlName="client_name">
      </div>

      <div class="ui-md-6 ui-g-12">
        <label for="division">Division</label>
        <p-dropdown [options]="cities"
                    placeholder="Select a City"
                    optionLabel="name"
                    id="division"
                    name="division"
                    [showClear]="true"
                    [style]="{'width':'100%'}"
                    formControlName="selectedCity"></p-dropdown>
      </div>

      <div class="ui-md-6 ui-g-12">
        <label for="date_received">Date Received</label>
        <p-calendar [monthNavigator]="true"
                    [yearNavigator]="true"
                    yearRange="2000:2030"
                    dateFormat="dd-mm-yy"
                    id="date_received"
                    name="date_received"
                    formControlName="date"></p-calendar>
      </div>

      <div class="ui-md-6 ui-g-12">
        <label for="description">Description</label>
        <textarea pInputTextarea
                  id="description"
                  name="description"
                  formControlName="description"></textarea>
      </div>
      <button class="submit-color" name="basic" pButton type="submit" label="Submit"></button>
    </div>
  </form>
  <p-table
    #dt
    [columns]="cols"
    [value]="artworkDetails">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <input *ngSwitchCase="'id'" pInputText type="text"
                 (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
          <input *ngSwitchCase="'name'" pInputText type="text"
                 (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
          <input *ngSwitchCase="'email'" pInputText type="text"
                 (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

