<p-card>
  <form class="container ui-fluid" [formGroup]="artworkForm" (ngSubmit)="onSubmit()">
    <label>CREATE NEW ARTWORK SHEET</label>
    <hr>
    <div class="ui-g form-group ">
      <div class="ui-md-6 ui-g-12 ">
        <label for="reference_num">Reference No</label>
        <input type="text" id="reference_num" class="form-control"
               pInputText placeholder="Enter Reference"
               name="reference_num" formControlName="reference_num">
      </div>

      <div class=" ui-md-6 ui-g-12">
        <label for="client_name">Client Name</label>
        <input type="text" id="client_name"
               class="form-control"
               pInputText placeholder="Enter Client Name"
               name="client_name" formControlName="client_name">
      </div>

      <div class="ui-md-6 ui-g-12">
        <label for="division">Division</label>
        <p-dropdown [options]="division"
                    placeholder="Select a Division"
                    optionLabel="name"
                    id="division"
                    name="division"
                    [showClear]="true"
                    [style]="{'width':'100%'}"
                    formControlName="division"></p-dropdown>
      </div>

      <div class="ui-md-6 ui-g-12">
        <label for="date">Date Received</label>
        <p-calendar [monthNavigator]="true"
                    [yearNavigator]="true"
                    yearRange="2000:2030"
                    dateFormat="dd-mm-yy"
                    id="date"
                    name="date"
                    formControlName="date"></p-calendar>
      </div>

      <div class="ui-md-12 ui-g-12">
        <label for="description">Description</label>
        <textarea pInputTextarea
                  id="description"
                  name="description"
                  formControlName="description"></textarea>
      </div>

      <p-fileUpload
        #artworkImages
        name="artwork_images[]"
        [showUploadButton]="false"
        multiple="multiple"
        accept="image/*"
        maxFileSize="1000000">
        <ng-template pTemplate="content">
          <!--<ul *ngIf="uploadedFiles.length">-->
            <!--<li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>-->
          <!--</ul>-->
        </ng-template>
      </p-fileUpload>

      <app-table-work
        [cols]="cols"
        [artworkDetails]="artworkDetails">
      </app-table-work>
      <div class="ui-md-12 ui-g-12 ">
        <input type="text" id="note" class="form-control"
               pInputText placeholder="Note"
               name="note" formControlName="note">
      </div>
      <button class="submit-color" name="basic" pButton type="submit" label="Submit"></button>
    </div>
  </form>
</p-card>

