<p-card >
  <form class="container ui-fluid" [formGroup]="permissionForm" (ngSubmit)="onSubmit()" >
    <!--<h6 for="name">Create Permission</h6>-->
    <label for="name">Create Permission</label>
    <hr>
    <div class="ui-g form-group ">
      <div class="ui-md-6 ui-g-12 ">
        <!--<h6>Name</h6>-->
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control"
               pInputText placeholder="Enter name"
               name="name" formControlName="name" [(ngModel)]="old_name">
        <small *ngIf="!permissionForm.controls['name'].valid && permissionForm.controls['name'].touched">
          Name is required
        </small>
      </div>

      <div class=" ui-md-6 ui-g-12">
        <!--<h6>Display Name</h6>-->
        <label for="display_name">Display Name</label>
        <input type="display_name" id="display_name"
               class="form-control"
               pInputText placeholder="Enter Display Name"
               name="display_name" formControlName="display_name" [(ngModel)]="old_displayName">
        <small *ngIf="!permissionForm.controls['display_name'].valid && permissionForm.controls['display_name'].touched">
          Display Name is required
        </small>
      </div>

      <div class="ui-g-12 ui-md-12 ui-lg-12">
        <label for="description">Description</label>
        <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" placeholder="Enter Description" formControlName="description"
                  [(ngModel)]="old_description"></textarea>
        <small *ngIf="!permissionForm.controls['description'].valid && permissionForm.controls['description'].touched">
          Description is required
        </small>
      </div>
      <button class="submit-color" name="basic" pButton type="submit"  label="Submit"></button>
      <button class="cancel-color" name="basic" pButton type="button" label="Cancel"></button>
    </div>
  </form>
</p-card>

