<p-table [value]="artworkImages">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 4em"></th>
      <th>
        Images
      </th>
      <th>
        Actions
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
    <tr>
      <td>
        <button type="button" pButton (click)="selectImage($event, rowData.id,op3)"  icon="pi pi-search"></button>
      </td>

      <td>
        {{rowData.filepath}}
      </td>
      <td>
        <p-button label="Remove" (onClick)="removeImage(rowIndex)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-overlayPanel #op3>
  <img src="{{selectedImageUrl}}" *ngIf="selectedImageUrl"/>
</p-overlayPanel>
