<header id="header">
  <div class="relative_position">
    <!-- <div class="search-input"><i class="fa fa-search icon-search"></i><input type="text"></div> -->
    <a class="logo-container" href="#"><img alt="ecuador-layout" src="assets/img/ecuador-logo.png"></a>
    <a href="#" id="topbar-profile-menu-button"><span>Jeniffer Reynolds</span><img alt="ecuador-layout" class="topbar-profile" src="assets/img/avatar.png"><i class="fa fa-sort-desc"></i></a>
  </div>
  <nav id="navmenu" class="navbar navbar-expand-lg navbar-light bg-light mb-5 bg-white container-fluid">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav pull_nav_left d-flex flex-wrap">
        <li class="nav-item ">
          <a class="nav-link" href="#"><i class="pi pi-home"></i> <span class="nav_text">Dashboard</span></a>
        </li>

        <li class="nav-item  dropdown" appDropdown>
          <a class="nav-link"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="pi pi-home"></i> <span class="nav_text">Menu Colors</span> <i class="pi pi-chevron-down"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" ><i class="fas fa-paint-brush"></i> Light</a>
            <a class="dropdown-item" ><i class="fas fa-paint-brush"></i> Dark</a>
          </div>
        </li>
        <!--<li class="nav-item  dropdown">-->
          <!--<a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--<i class="fas fa-cog"></i> <span class="nav_text"> Layouts </span><i class="fas fa-angle-down"></i>-->
          <!--</a>-->
          <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--<div class="dropdown-divider"></div>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
          <!--</div>-->
        <!--</li>-->
        <!--<li class="nav-item  dropdown">-->
          <!--<a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--<i class="fas fa-paint-brush"></i> <span class="nav_text"> Themes </span> <i class="fas fa-angle-down"></i>-->
          <!--</a>-->
          <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--<div class="dropdown-divider"></div>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
          <!--</div>-->
        <!--</li>-->
        <!--<li class="nav-item  dropdown">-->
          <!--<a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--<i class="fas fa-bars"></i> <span class="nav_text"> Components </span><i class="fas fa-angle-down"></i>-->
          <!--</a>-->
          <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--<div class="dropdown-divider"></div>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
          <!--</div>-->
        <!--</li>-->
        <!--<li class="nav-item  dropdown">-->
          <!--<a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--<i class="fas fa-cube"></i> <span class="nav_text">Pages</span> <i class="fas fa-angle-down"></i>-->
          <!--</a>-->
          <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--<div class="dropdown-divider"></div>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
          <!--</div>-->
        <!--</li>-->
        <!--<li class="nav-item  dropdown">-->
          <!--<a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--<i class="fas fa-cube"></i> <span class="nav_text">Hierarchy </span><i class="fas fa-angle-down"></i>-->
          <!--</a>-->
          <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--<div class="dropdown-divider"></div>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
          <!--</div>-->
        <!--</li>-->
        <!--<li class="nav-item ">-->
          <!--<a class="nav-link" href="#"><i class="fas fa-cube"></i> Documentation</a>-->
        <!--</li>-->
        <!--<li class="nav-item ">-->
          <!--<a class="nav-link" href="#"><i class="fas fa-cube"></i> Buy Now</a>-->
        <!--</li>-->
      </ul>

    </div>
  </nav>
</header><!-- /header -->

