.form-control.focus, .form-control:focus {
  border-color: #716aca;
  color: #575962;
  -webkit-box-shadow: none;
  box-shadow: none;
}

hr{
  margin-top: 15px;
}

p-button{
  padding: 10px;
}

form .ui-button{
  padding: 5px;
  width: auto  ;
}
