<p-tabMenu [model]="items"></p-tabMenu>

<p-card>
  <form class="container ui-fluid ui-g" >
    <div class="ui-md-3 ui-g-3 form-group ">
      <div class="">
        <label for="reference_num">Reference No</label>
        <input type="text" id="reference_num" class="form-control"
               pInputText placeholder="Enter Reference"
               name="reference_num" >
      </div>
    </div>
    <div class="ui-md-3 ui-g-3 form-group ">
      <div class=" ">
        <label for="client">Client</label>
        <input type="text" id="client" class="form-control"
               pInputText placeholder=""
               name="client" >
      </div>
    </div>
    <div class="ui-md-3 ui-g-3  form-group ">
      <div class="  ">
        <label for="file_name">File Name</label>
        <input type="text" id="file_name" class="form-control"
               pInputText placeholder=""
               name="file_name" >
      </div>
    </div>
    <div class="ui-md-3 ui-g-3 form-group ">
      <div class="  ">
        <label for="combo">Combo</label>
        <input type="text" id="combo" class="form-control"
               pInputText placeholder=" "
               name="combo" >
      </div>
    </div>
    <div class="ui-md-2 ui-g-2 form-group ">
      <div class="  ">
        <label for="picks">Picks</label>
        <input type="text" id="picks" class="form-control"
               pInputText placeholder=" "
               name="combo" >
      </div>
    </div>
    <div class="ui-md-2 ui-g-2 form-group ">
      <div class="  ">
        <label for="repeats">Repeats/HR</label>
        <input type="text" id="repeats" class="form-control"
               pInputText placeholder=" "
               name="repeats" >
      </div>
    </div>
    <div class="ui-md-3 ui-g-3 form-group ">
      <div class="  ">
        <label for="width">Width</label>
        <input type="text" id="width" class="form-control"
               pInputText placeholder=" "
               name="width" >
      </div>
    </div>
    <div class="ui-md-3 ui-g-3 form-group ">
      <div class="  ">
        <label for="length">Length</label>
        <input type="text" id="length" class="form-control"
               pInputText placeholder=" "
               name="length" >
      </div>
    </div>
    <div class="ui-md-2 ui-g-2 form-group ">
      <div class="  ">
        <label for="ttl_picks">TTL Picks</label>
        <input type="text" id="ttl_picks" class="form-control"
               pInputText placeholder=" "
               name="ttl_picks" >
      </div>
    </div>
    <div class="ui-md-9 ui-g-9 form-group ">
      <div class="  ">
        <label for="label_desc">Label Description</label>
        <input type="text" id="label_desc" class="form-control"
               pInputText placeholder=" "
               name="label_desc" >
      </div>
    </div>
    <div class="ui-md-3 ui-g-3 form-group ">
      <div class="  ">
        <label for="date">Date</label>
        <input type="text" id="date" class="form-control"
               pInputText placeholder=" "
               name="date" >
      </div>
    </div>
  </form>
</p-card>
