<p-tabMenu [model]="items"></p-tabMenu>

<p-card>
  <form class=" ui-fluid ui-g" [formGroup]="sampleCardForm">
    <div class="ui-md-3 ui-g-3 form-group ">
      <div class="">
        <label for="artwork_id">Reference No</label>
        <p-autoComplete
          [(ngModel)]="editSampleCard.artwork_id"
          [suggestions]="artworks"
          (completeMethod)="filterArtwork($event)"
          (onSelect)="selectArtwork($event)"
          field="reference_number" [size]="15"
          placeholder="Hint: type a reference number"
          formControlName="artwork_id"
          [dropdown]="true"
          [minLength]="1">
        </p-autoComplete>
      </div>
    </div>
    <div class="ui-md-3 ui-g-3 form-group ">
      <div class=" ">
        <label for="client">Client</label>
        <input type="text" id="client" class="form-control"
               pInputText placeholder="Enter Client"
               name="client"
               [value]="clientName">
      </div>
    </div>
    <div class="ui-md-3 ui-g-3  form-group ">
      <div class="  ">
        <label for="file_name">File Name</label>
        <a
          *ngFor="let artwork_image of artworkImages"
          (click)="showArtworkImage(artwork_image.id)">
          {{artwork_image.filepath}}
        </a>
      </div>
    </div>
    <div class="ui-md-3 ui-g-3 form-group ">
      <div class="  ">
        <label for="combo">Combo</label>
        <p-dropdown [options]="combos"
                    optionLabel="name"
                    id="combo"
                    name="combo"
                    [style]="{'width':'100%'}"
                    [showClear]="true">
          <ng-template let-item pTemplate="selectedItem">
            <span style="vertical-align:middle">{{item.label}}</span>
          </ng-template>
          <ng-template let-combo pTemplate="item">
            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
              <div style="font-size:14px;margin-top:4px">{{combo.label}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
    <div class="ui-md-2 ui-g-2 form-group ">
      <div class="  ">
        <label for="picks">Picks</label>
        <input type="text" id="picks" class="form-control"
               pInputText placeholder="Enter picks"
               name="combo" formControlName="picks" [ngModel]="editSampleCard.picks">
      </div>
    </div>
    <div class="ui-md-2 ui-g-2 form-group ">
      <div class="  ">
        <label for="repeats">Repeats/HR</label>
        <input type="text" id="repeats" class="form-control"
               pInputText placeholder="Enter repeats"
               name="repeats" formControlName="picks" [ngModel]="editSampleCard.repeats">
      </div>
    </div>
    <div class="ui-md-3 ui-g-3 form-group ">
      <div class="  ">
        <label for="width">Width</label>
        <input type="text" id="width" class="form-control"
               pInputText placeholder="Enter width"
               name="width" formControlName="width" [ngModel]="editSampleCard.width">
      </div>
    </div>
    <div class="ui-md-3 ui-g-3 form-group ">
      <div class="  ">
        <label for="length">Length</label>
        <input type="text" id="length" class="form-control"
               pInputText placeholder="Enter length"
               name="length" formControlName="length" [ngModel]="editSampleCard.length">
      </div>
    </div>
    <div class="ui-md-2 ui-g-2 form-group ">
      <div class="  ">
        <label for="ttl_picks">TTL Picks</label>
        <input type="text" id="ttl_picks" class="form-control"
               pInputText placeholder="Enter TTL picks"
               name="ttl_picks" formControlName="ttl_picks" [ngModel]="editSampleCard.ttl_picks">
      </div>
    </div>
    <div class="ui-md-9 ui-g-9 form-group ">
      <div class="  ">
        <label for="label_desc">Label Description</label>
        <input type="text" id="label_desc" class="form-control"
               pInputText placeholder="Enter label description"
               name="label_desc" formControlName="description" [ngModel]="editSampleCard.description">
      </div>
    </div>
    <div class="ui-md-3 ui-g-3 form-group ">
      <div class="  ">
        <label for="date">Date</label>
        <p-calendar placeholder="Enter date"
                    ></p-calendar>
      </div>
    </div>

    <app-sample-card-detail
      [cols]="cols"
      [cardDetails]="cardDetails">
    </app-sample-card-detail>

    <div class="ui-md-12 ui-g-12 form-group ">
      <div class="  ">
        <label for="note">Note</label>
        <input type="text" id="note" class="form-control"
               pInputText placeholder="Enter note"
               name="note" formControlName="note" [ngModel]="editSampleCard.note">
      </div>
    </div>
    <button class="submit-color" name="basic" pButton type="submit" label="Submit"></button>

  </form>
  <p-dialog header="Artwork Image" [(visible)]="artworkImageUrl">
    <img *ngIf="artworkImageUrl" [src]="artworkImageUrl">
  </p-dialog>
</p-card>
